* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}


body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: hsl(225, 86%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    height: 70%;
    width: 400px;
    border-radius: 20px;
}

.orderImage img {
    width: 400px;
    border-radius: 20px 20px 0px 0px;
}

.orderContent {
    text-align: center;
}

.orderContent h2 {
    font-size: 18px;
}

.orderContent p {
    font-size: 12px;
}